:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --features-list-gap: 30px;
  --example-list-gap: 30px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* цвет основного текста - #757575;
 цвет вторичный - #212121;
 акцент - #2196F3;
 вторичній фон - #F5F4FA
  */

body {
  color: var(primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*logo*/
.logo {
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}

/* main nav */
.main-nav {
  display: flex;
  width: 1200px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* site-nav*/
.site-nav {
  display: flex;
  margin-right: auto;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav {
  display: flex;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/*Hero*/
.hero {
  text-align: center;
  margin-bottom: 94px;
  /* align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; */

  background-color: #2f303a;
  letter-spacing: 0.06em;
}

.hero .hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
/*Button*/
.hero .hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/*features*/
.features {
  align-items: center;
  margin-bottom: 94px;
  margin-top: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.features-list {
  display: flex;
  flex-wrap: nowrap;
}

.features-list > li {
  width: 270px;
}

.features-list .features-item:not(:last-child) {
  margin-right: 30px;
}

.features .features-title {
  margin-right: 30px;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .features-description {
  margin-right: 30px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Work*/
.work {
  margin-bottom: 94px;
}

.work .work-title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work .work-list {
  display: flex;
  flex-wrap: nowrap;
}

.work .work-item {
  display: flex;
  margin-right: 30px;
}

/*Team*/
.team {
  background: #f5f4fa;
}

.team .team-title {
  padding-top: 94px;
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 94px;
}

.team .team-item {
  width: 270px;
  margin-right: 30px;
}

.team .team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .team-profession {
  padding-bottom: 30px;
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: #ffffff;
}
address {
  margin-top: 20px;
  margin-bottom: 9px;
  color: #ffffff;
}

address,
.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

/*Portfolio-page*/
.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
  width: 1200px;
  text-align: center;
}
.button-container {
  padding-bottom: 50px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-button {
  color: var(--secondary-text-color);

  display: flex;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-list .list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio-title {
  margin-top: 20px;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio .example-card {
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.example-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  /* margin-left: var(--example-list-gap); */
  margin-top: 30px;
  margin-left: 30px;
}

.example-list .item:not(:last-child) {
  margin-left: var(--example-list-gap);
}
.example-card {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.example-card-content {
  padding: 20px 24px;
}
